<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Nuggets of Wisdom %></h1>
    //how to get intermediate
    //BELOW is where the nuggets go
    <p>Welcome to <%= title %></p>
  </body>
</html>
